[Unit]
Description=Activate automated tc every OnUnitActiveSec seconds
[Timer]
OnBootSec=10
OnUnitActiveSec=60
AccuracySec=10ms
[Install]
WantedBy=timers.target